@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

/* Global Setting */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* Height */
    --header-height: 3rem;
    --footer-height: 3.5rem;

    /* Color Basic */
    --colorBasic-Black: #222222;
    --colorBasic-White: #eeeeee;
    --colorBasic-Lightblue: rgb(151, 224, 248);

    /* Color Notify */
    --colorError-Flamingo: #E8583C;
    --colorMsgBackground-Black: rgba(34, 34, 34, .8);
    --colorMsgBackground-White: rgba(238, 238, 238, .8);

    /* Color Scheme */
    --colorScheme-Eborry: #292726;
    --coloScheme-Mideborry: #353231;
    --colorScheme-Gray: #83808B;
    --colorScheme-Lavender: #BDB7BD;
    --colorScheme-Cinnamon: #894821;
    --colorScheme-Orange: #e5b078;
    --colorScheme-Fawn: #e9d0bc;
}

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 100%;
    color: var(--colorScheme-Fawn);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
h2 {
    font-family: 'Livvic', 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: 1.125em;
}

a {
    color: var(--colorScheme-Lavender);
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

.dark-theme {
    background-color: var(--colorScheme-Eborry);
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.flex-stretch {
    flex: 1 1 auto;
}

.flex-none {
    flex: none;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-top-auto {
    margin-top: auto;
}

.margin-bottom-auto {
    margin-bottom: auto;
}

.text-center {
    text-align: center;
}

.content-box {
    color: var(--colorScheme-Lavender);
    text-align: center;
}

.description-text {
    text-align: left;
    font-size: 0.8125em;
    margin: .5rem 0;
}

.submit-button {
    font-family: 'Livvic', Helvetica, sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    color: var(--colorScheme-Cinnamon);
    border-radius: 1.5rem;
    background-color: var(--colorScheme-Orange);
    border: none;
    padding: .5rem 1rem;
}

.container-hundred {
    width: 100%;
    height: 100%;
}

.msg-box {
    color: var(--colorScheme-Fawn);
}

.scrolling {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
}

.scrolling::-webkit-scrollbar {
    display: none;
}

.icon-fill {
    fill: var(--colorScheme-Orange);
}

.icon-stroke {
    stroke: var(--colorScheme-Orange);
}

.icon-fill.inactive {
    fill: var(--colorScheme-Fawn);
}

.icon-stroke.inactive {
    stroke: var(--colorScheme-Fawn);
}


/* jQuery mobile css modify */
.ui-mobile .ui-page-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[data-role='main'] {
    flex: 1 1 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: var(--coloScheme-Mideborry);
}

[data-role="header"] {
    font-size: 1.125em;
    height: var(--header-height);
    line-height: var(--header-height);
}

[data-role="footer"] {
    height: var(--footer-height);
    line-height: var(--footer-height);
}

[data-role="header"],
[data-role="footer"] {
    background-color: var(--colorScheme-Eborry);
    border-width: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 50;
}



.ui-header .ui-title,
.ui-footer .ui-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;

}

.ui-header ul,
.ui-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

.ui-footer li {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

.ui-header a,
.ui-footer a {
    display: block;
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.container {
    width: 80%;
}

/* Login / Sign up / Forget password Page */
.logo-img {
    padding: 1rem 0;
    text-align: center;
}

.logo-img img {
    max-width: calc(100% - 6rem);
}

.form-box {
    width: 100%;
    height: 4rem;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: .5rem;
}

.icon-box {
    width: 3rem;
    padding: 0 .5rem;
}

.input-box {
    width: calc(100% - 2.5rem);
    height: calc(100% - .6rem);
    color: var(--colorBasic-White);
    font-size: 1.125em;
    overflow: hidden;
}

.input-box .ui-input-text {
    border-width: 0;
    border-style: none;
}

.form-input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--colorScheme-Orange);
}

.form-label {
    color: var(--colorScheme-Lavender);
    position: absolute;
    bottom: 0;
    width: inherit;
    height: 100%;
    pointer-events: none;
    transition: all .1s ease-out;
}

input[type="text"].form-input {
    color: var(--colorScheme-Fawn);
    padding-top: 15px;
    font-size: 1em;
    display: block;
    box-sizing: border-box;
}

input[type="text"].form-input.error {
    color: var(--colorError-Flamingo);
}


input[type="text"].form-input:focus~label,
input[type="text"].form-input:valid~label {
    color: var(--colorScheme-Orange);

}

input[type="text"].form-input:focus~label .content-text,
input[type="text"].form-input:valid~label .content-text {
    font-size: .8em;
    transform: translateY(-100%);
}

.content-text {
    position: absolute;
    font-size: 1.2em;
    top: 50%;
    transition: all 0.3s ease;
}

.form-label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.button-box {
    margin-top: 1.5rem;
}

.bottom-box {
    position: absolute;
    bottom: 2rem;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-box a span {
    color: var(--colorScheme-Fawn);
}

.bottom-box hr {
    margin: 0;
    border-bottom: 2px solid var(--colorScheme-Fawn);
    animation: meteor 2s infinite ease-in-out;
}

.forgetPass-text {
    padding: .5rem;
}

.forgetPass-text h2 {
    text-align: left;
}

.display-bgc {
    background-color: var(--coloScheme-Mideborry);
}

.edit-bgc {
    background-color: var(--colorScheme-Eborry);
}


/* Map Peg */
#googleMap {
    height: 100%;
}

.addCat-icon {
    position: absolute;
    width: 48px;
    height: 48px;
    z-index: 1000;
    bottom: 2rem;
    right: 2rem;
}

.addCat-circle {
    width: 100%;
    height: 100%;
    border: 3px solid var(--colorScheme-Cinnamon);
    border-radius: 50%;
    background-color: var(--colorScheme-Fawn);
    box-shadow: 0px 0px 5px 2px var(--colorScheme-Fawn);
}


.addCat-plus {
    position: absolute;
    margin-top: 20px;
    left: 9px;
    height: 4px;
    width: 30px;
    border-radius: 4px;
    background-color: var(--colorScheme-Cinnamon);
}

.addCat-plus::after {
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: var(--colorScheme-Cinnamon);
    content: "";
    left: 13px;
    border-radius: 4px;
    top: -13px;
}

/* Breed & Collection Page */

.nav-bar ul li {
    text-align: center;
}

.nav-bar ul li a,
.nav-bar ul li:last-child {
    padding: 0 1rem;
    font-size: 0.8125em;
}

.nav-bar ul li:first-child a::after {
    content: "<";
    color: var(--colorScheme-Fawn);
    border: 2px;
}

.icon-position {
    position: relative;
    width: 100%;
    height: 3rem;
}

.editIcon-cat {
    position: absolute;
    right: 1rem;
    top: 1rem;
    box-shadow: 2px var(--colorScheme-Cinnamon);
}


.editIcon-cat svg {
    width: 1.5rem;
    height: 1.5rem;
}


.breed-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: var(--coloScheme-Mideborry); */
}

.breed-box {
    width: 50%;
    height: fit-content;
    position: relative;

}

.breed-content {
    margin: .8rem;
    border-radius: 5px;
}

.breedImg-set {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    text-align: center;
}

.breedImg-single {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    border-radius: 50% 50% 0% 0%;
    background-color: black;
    box-shadow: 0px 0px 5px 3px rgba(131, 128, 139, .5);
}

.breedImg-single img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50% 50% 0% 0%;
}

.breed-title {
    position: absolute;
    height: 30px;
    line-height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--colorScheme-Lavender);
    background-color: var(--colorScheme-Eborry);
    opacity: .8;
}

.footerIcon-box {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.footer-icon {
    width: 2rem;
    height: 2rem;
}

.icon-text {
    font-size: .625em;
    line-height: 1rem;
}

.icon-text.active {
    color: var(--colorScheme-Orange);
}

/* Add Cat Page */
.upload-box {
    position: relative;
    width: 90%;
    padding-top: 90%;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 20px;
}

.catImg-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    text-align: center;
    color: var(--colorScheme-Cinnamon);
}

.input-box-add {
    width: 100%;
}

.form-textarea {
    height: 100%;
}

.textarea-box {
    padding: 1.2rem 0;
}

textarea {
    width: 100%;
    height: 150px;
}

/* Cat Info */

.img-box {
    height: 20rem;
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.catInfo-box {
    width: 85%;
}

.title-box {
    margin-bottom: 1rem;
}

.title-about {
    color: var(--colorScheme-Orange);
    font-size: 1em;
    margin-bottom: .25rem;
}

.title-box p {
    font-size: 0.8125em;
    color: var(--colorScheme-Lavender);
    margin: 0;
}

.edit-cat {
    left: -100%;
    transition: all .5s;
}

.edit-cat.active {
    left: 0;
}

/* Profile Page */
.profile-box {
    width: 80%;
    padding-top: 2rem;
}

.edit-icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.profile-img {
    position: relative;
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background: wheat;
    overflow: hidden;
}

.img-contain {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 5px;

}

.upload-profile {
    position: absolute;
    width: 6rem;
    height: 2rem;
    bottom: 0;
    right: 0;
    background-color: gray;
    text-align: center;
    line-height: 2rem;
}

.detail-box {
    margin-bottom: 1.2rem;
}

.detail-box h3 {
    padding: 0 1rem;
}

.edit-profile {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
    z-index: 10;
}

.edit-profile.active {
    left: 50%;
}


/* Animation */
@keyframes meteor {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}